<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enihsyou.shane.packagetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- TODO: 修改成app介绍页面 -->
                <data
                    android:host="ryoka.moe"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.TrackDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.AddPackageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_new"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.SendPackageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_send_new"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.SearchNetworkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_network_search"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.TrackDetailActivity" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enihsyou.shane.packagetracker.activity.MainActivity" />
        </activity>
    </application>

</manifest>
